<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstsaa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.course.CourseData"></activity>
        <activity android:name=".ui.main.student.StudentAdapter" />
        <activity android:name=".ui.main.student.StudentData" />
        <activity android:name=".ui.main.student.StudentArea" />
        <activity android:name=".ui.main.lecturer.LecturerDetail" />
        <activity android:name=".ui.main.lecturer.LecturerAdapter" />
        <activity android:name=".ui.main.lecturer.LecturerData" />
        <activity android:name=".ui.main.course.AddCourse" />
        <activity android:name=".ui.main.lecturer.AddLecturer" />
        <activity android:name=".ui.main.student.LoginStudent" />
        <activity android:name=".ui.main.student.StudentRegister" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>